
<main class="TodoPageMain">

  <article>
    <h1 class="TodoPage-title">My To-do List</h1>

    <section class="AddTodo">
      <input type="text" class="AddTodo-text" placeholder="What's next?">
      <input type="date" class="AddTodo-date">
      <input type="button" class="AddTodo-button" value="Add">
    </section>

    <section class="TodoSection">
      <div class="TodoSectionTitle">
        <p class="TodoSectionTitle-text">Due Today</p>
        <p class="TodoSectionTitle-remainingCount">0/2</p>
      </div>
      <ul>
        <li class="TodoItem">
          <label class="TodoItem-container">
            <input type="checkbox" class="TodoItem-checkbox">
            <p class="TodoItem-text">Submit SaaS 201 project</p>
            <p class="TodoItem-overdueLabel">Overdue</p>
            <a class="TodoItem-delete" href="javascript:void(0)">
              <img src="delete.png">
            </a>
          </label>
        </li>
        <li class="TodoItem">
          <label class="TodoItem-container">
            <input type="checkbox" class="TodoItem-checkbox">
            <p class="TodoItem-text">Call accountant</p>
            <a class="TodoItem-delete" href="javascript:void(0)">
              <img src="delete.png">
            </a>
          </label>
        </li>
      </ul>
    </section>

    <section class="TodoSection">
      <div class="TodoSectionTitle">
        <p class="TodoSectionTitle-text">Due Tomorrow</p>
        <p class="TodoSectionTitle-remainingCount">0/1</p>
      </div>
      <ul>
        <li class="TodoItem">
          <label class="TodoItem-container">
            <input type="checkbox" class="TodoItem-checkbox">
            <p class="TodoItem-text">Refill groceries</p>
            <a class="TodoItem-delete" href="javascript:void(0)">
              <img src="delete.png">
            </a>
          </label>
        </li>
      </ul>
    </section>

    <section class="TodoSection">
      <div class="TodoSectionTitle">
        <p class="TodoSectionTitle-text">Remaining</p>
        <p class="TodoSectionTitle-remainingCount">0/4</p>
      </div>
      <ul>
        <li class="TodoItem">
          <label class="TodoItem-container">
            <input type="checkbox" class="TodoItem-checkbox">
            <p class="TodoItem-text">Task1</p>
            <p class="TodoItem-remainingDate">Jan 21</p>
            <a class="TodoItem-delete" href="javascript:void(0)">
              <img src="delete.png">
            </a>
          </label>
        </li>
        <li class="TodoItem">
          <label class="TodoItem-container">
            <input type="checkbox" class="TodoItem-checkbox">
            <p class="TodoItem-text">Task2</p>
            <p class="TodoItem-remainingDate">Jan 22</p>
            <a class="TodoItem-delete" href="javascript:void(0)">
              <img src="delete.png">
            </a>
          </label>
        </li>
        <li class="TodoItem">
          <label class="TodoItem-container">
            <input type="checkbox" class="TodoItem-checkbox">
            <p class="TodoItem-text">Task3</p>
            <p class="TodoItem-remainingDate">Jan 23</p>
            <a class="TodoItem-delete" href="javascript:void(0)">
              <img src="delete.png">
            </a>
          </label>
        </li>
        <li class="TodoItem">
          <label class="TodoItem-container">
            <input type="checkbox" class="TodoItem-checkbox">
            <p class="TodoItem-text">Task4</p>
            <p class="TodoItem-remainingDate">Jan 24</p>
            <a class="TodoItem-delete" href="javascript:void(0)">
              <img src="delete.png">
            </a>
          </label>
        </li>
      </ul>
    </section>
  </article>
</main>
