<h1>This is a To-do List</h1>

<p> The date today is <%= DateTime.now.to_s(:long) %> </p>

<h3>There are a total of <%= Todo.count %> todos in our database.</h3>

<% Todo.all.each do |todo| %>

<div style="display:flex;">
  <p> <%= todo.todo_text %> </p>
  <p> <%= todo.due_date %> </p>
</div>

<% end %>
